<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/styles.css" />
   <title>Home | Display Case</title>
</head>

<body>
   <h1>Display Case</h1>
   <a class="test-link" href="/diecasts">Diecasts</a>
   <a class="test-link" href="/collectibles">Collectibles</a>
   <a class="test-link" href="/api-docs">Swagger UI</a>
</body>

</html>