@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$gray1: #121212;
$black: black;
$white: white;
$white-text: #f7f7f7;

body {
   font-family: "Poppins", sans-serif;
   background-color: $gray1;
   color: $white-text;
}