@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

$gray1: #121212;
$black: black;
$white: white;
$white-text: #f7f7f7;
$mint: #009e7c;

body {
   font-family: "Poppins", sans-serif;
   background-color: $gray1;
   color: $white-text;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1 {
   margin: 0;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem;
}

.logo {
   margin-right: .5rem;
}

.test-link {
   background-color: $mint;
   color: $white;
   border-radius: 6px;
   padding: .5em 1em;
   margin: 0 .5rem;
   text-decoration: none;
   transition: background-color 200ms;
   &:hover {
      background-color: lighten($mint, 5%)
   }
}